* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("assets/img-interiordesign3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    background-position: center;
}

nav {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.lgo {
    margin-left: 50px;
    margin-top: 30px;
}

.list {
    list-style: none;
    display: flex;
    margin-left: 70px;

}

.list-item {
    margin: 30px;
    cursor: pointer;
}

.call {
    margin-left: 200px;
}

.heading-text {
    color: #ffffff;
    font-size: 40px;
}

.btn {
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 35px;
    display: inline;
    cursor: pointer;
}

.faphn {
    float: right;
    margin-top: -70px;
    margin-right: -80px;
}

.callus {
    float: right;
    margin-top: -102px;
    margin-right: -250px;
}

.t1 {
    margin-top: -20px;
}

hr {
    height: 2px;
    width: 840px;
    border-width: 0;
    color: #ffffff;
    background-color: #ffffff;
    margin-left: 350px;
    margin-top: -20px;
}

.puzzleclass {
    background-color: rgb(255, 255, 255, 0.2);
    width: 240px;
    height: 80px;
    margin-left: 890px;
    margin-top: -170px;
    padding: 30px;
}

.puzzle {
    width: 60px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: -10px;
}

.puzzle>i {
    margin-left: 20px;
    margin-top: 14px;
}

.desc1 {
    position: absolute;
    color: #ffffff;
    margin-right: 100px;
}

.line1 {
    float: right;
    width: 3px;
    height: 55px;
    background-color: #ffffff;
    margin-right: -620px;
}

.circle1 {
    float: right;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: -630px;
    margin-top: 55px;
}

.bulbclass {
    float: right;
    background-color: rgb(255, 255, 255, 0.2);
    width: 240px;
    height: 80px;
    margin-right: -600px;
    margin-top: 130px;
    padding: 30px;
}

.bulb {
    width: 60px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: -10px;
}

.bulb>i {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}

.line2 {
    float: right;
    width: 55px;
    height: 3px;
    background-color: #ffffff;
    margin-right: -655px;
    margin-top: 170px;
}

.circle2 {
    float: right;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: -670px;
    margin-top: 160px;
}

.desc2 {
    position: absolute;
    color: #ffffff;
    margin-right: 200px;
    margin-top: 15px;
}

.banner-container {
    margin-left: 100px;
}






@media screen and (min-width: 360px) {

    .bars-visible {
        display: block;
        color: #ffffff;
        float: right;
        margin-left: 55%;
        margin-right: 20px;
    }

    .items-hidden {
        display: none;
    }

    .hr-hidden {
        display: none;
    }

    body {
        background-image: url("assets/img-interiordesign3.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
        height: 1200px;
        background-position: center;
    }

    .navbar-container {
        width: 100%;
    }

    .lgo {
        margin-left: 10px;
        margin-top: 0px;
        color: #ffffff;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .puzzleclass {
        background-color: rgb(255, 255, 255, 0.2);
        width: 240px;
        height: 130px;
        margin-left: 200px;
        margin-top: 170px;
        display: flex;
        justify-content: center;
    }

    .desc1 {
        text-align: center;
        width: 200px;
        margin-top: 50px;
        margin-left: 100px;
    }

    .bulbclass {
        background-color: rgb(255, 255, 255, 0.2);
        width: 240px;
        height: 130px;
        margin-right: 100px;
        margin-top: 250px;
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    .desc2 {
        text-align: center;
        width: 200px;
        margin-top: 50px;
        margin-left: 200px;
    }

    .line1 {
        float: right;
        width: 3px;
        height: 55px;
        background-color: #ffffff;
        margin-right: 20px;
    }

    .circle1 {
        float: right;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: -10px;
        margin-top: 55px;
    }

    .line2 {
        width: 55px;
        height: 3px;
        background-color: #ffffff;
        margin-right: -355px;
        margin-top: 400px;
    }

    .circle2 {
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: -370px;
        margin-top: 390px;
    }

}


@media screen and (min-width: 768px) {
    .bars-visible {
        display: block;
        color: #ffffff;
        float: right;
        margin-left: 70%;
        margin-right: 20px;
    }

    .items-hidden {
        display: none;
    }

    .hr-hidden {
        display: none;
    }

    body {
        height: 1200px;
        width: 100%;
    }

    .puzzleclass {
        margin-left: 70%;
    }


    .navbar-container {
        width: 100%;
    }

    .lgo {
        margin-left: 10px;
        margin-top: 0px;
        color: #ffffff;
        background-color: #ffffff;
        border-radius: 5px;
    }

}

@media screen and (min-width: 976px) {
    .bars-hidden {
        display: none;
    }

    .items-visible {
        display: flex;
    }

    body {
        height: 1200px;
        width: 100%;
    }

    .puzzleclass {
        margin-left: 80%;
        margin-top: 170px;
    }

}


@media screen and (min-width: 1240px) {
    .bars-hidden {
        display: none;
    }

    .items-visible {
        display: flex;
    }

    .hr-visible {
        display: block;
    }

    body {
        background-image: url("assets/img-interiordesign3.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
        height: 500px;
        background-position: center;
    }

    nav {
        display: flex;
        color: #ffffff;
        font-weight: bold;
        margin-top: 10px;
    }

    .lgo {
        margin-left: 50px;
        margin-top: 30px;
        background-color: transparent;
    }

    .list {
        list-style: none;
        display: flex;
        margin-left: 70px;
    }

    .list-item {
        margin: 30px;
        cursor: pointer;
    }

    .heading-text {
        color: #ffffff;
        font-size: 40px;
    }

    .btn {
        color: #ffffff;
        font-weight: bold;
        border: 2px solid #ffffff;
        border-radius: 20px;
        padding: 10px 35px;
        display: inline;
        cursor: pointer;
    }

    .call {
        margin-left: 20px;
        color: #ffffff;
        width: 220px;
        height: 90px;
    }

    .faphn {
        float: right;
        margin-top: 50px;
        margin-right: 190px;
    }

    .callus {
        float: right;
        margin-top: -50px;
        margin-right: 10px;
    }

    .t1 {
        margin-top: -20px;
    }

    hr {
        height: 2px;
        width: 840px;
        border-width: 0;
        color: #ffffff;
        background-color: #ffffff;
        margin-left: 350px;
        margin-top: -20px;
    }

    .puzzleclass {
        background-color: rgb(255, 255, 255, 0.2);
        width: 240px;
        height: 80px;
        margin-left: 890px;
        margin-top: -170px;
        padding: 30px;
    }

    .puzzle {
        width: 60px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        margin-top: -10px;
    }

    .puzzle>i {
        margin-left: 20px;
        margin-top: 14px;
    }

    .desc1 {
        position: absolute;
        color: #ffffff;
        margin-right: 100px;
        width: 250px;
        margin-top: 35px;
    }

    .line1 {
        float: right;
        width: 3px;
        height: 55px;
        background-color: #ffffff;
        margin-right: -620px;
    }

    .circle1 {
        float: right;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: -630px;
        margin-top: 55px;
    }

    .bulbclass {
        float: right;
        background-color: rgb(255, 255, 255, 0.2);
        width: 240px;
        height: 80px;
        margin-right: -600px;
        margin-top: 130px;
        padding: 30px;
    }

    .bulb {
        width: 60px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        margin-top: -10px;
    }

    .bulb>i {
        float: right;
        margin-right: 25px;
        margin-top: 15px;
    }

    .line2 {
        float: right;
        width: 55px;
        height: 3px;
        background-color: #ffffff;
        margin-right: -655px;
        margin-top: 170px;
    }

    .circle2 {
        float: right;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: -670px;
        margin-top: 160px;
    }

    .desc2 {
        position: absolute;
        color: #ffffff;
        margin-right: 200px;
        margin-top: 25px;
    }

    .banner-container {
        margin-left: 100px;
    }

}